* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
}

h1 {
  text-align: center;
}

main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  column-gap: 10px;
  width: 100%;
  padding: 1rem;
}

.slide-container {
  width: 95%;
  display: flex;
  overflow: hidden;
}

.slide {
  flex-shrink: 0;
  width: 98%;
  height: 100px;
  position: relative;
  left: 0;
  transition: all 1s;
  margin: 0 1%;
}

.slide-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  main {
    width: 70%;
    max-width: 1100px;
    margin: 0 auto;
  }
}
