@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(49, 186, 240);
  color: black;
  font-family: "Quicksand", Verdana, Geneva, Tahoma, sans-serif;
  height: 100dvh;
  overflow: hidden;
}

h1 {
  margin: 1rem;
  text-align: center;
  color: yellow;
}

#typing-screen,
.no-display {
  display: none;
}

#start-screen {
  padding: 1rem;
  text-align: center;
  width: 50dvw;
  height: 50dvh;
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: bold;
  color: yellow;
  background-color: rgba(128, 128, 128, 0.459);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#finish-screen {
  display: none;
  padding: 1rem 3rem;
  width: 50dvw;
  height: 50dvh;
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: bold;
  color: yellow;
  background-color: rgba(128, 128, 128, 0.459);
  border-radius: 1rem;
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

#finish-screen h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.correct-hit {
  color: green;
}

.mistakes {
  color: red;
}

.start-btn {
  font-size: 2rem;
  color: white;
  background-color: yellowgreen;
  border: none;
  border-radius: 0.4rem;
  padding: 0.5rem 1rem;
  transition: all 0.5s;
}

.start-btn:hover {
  transform: scale(1.1);
}

#typing-field {
  padding: 10px;
  text-align: center;
  width: 80dvw;
  height: 30dvh;
  margin: 10px auto;
  border: 5px solid yellow;
  border-radius: 1rem;
  font-size: 2rem;
  overflow: hidden;
}

.highlight-char {
  background-color: #f7f795ca;
  padding: 0 3px;
  border-radius: 5px;
  border-bottom: 5px solid yellow;
}

.correct {
  background-color: rgb(100, 236, 100);
  border-radius: 5px;
  border-bottom: 5px solid green;
}

.wrong {
  border-radius: 5px;
  background-color: rgb(243, 106, 106);
  border-bottom: 5px solid red;
}

#keyboard > div {
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}

#keyboard > div:first-child,
#keyboard > div:last-child,
#keyboard div:first-child {
  font-size: 1rem;
  line-height: 1.5rem;
}

.key {
  border: 2px solid white;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
  border-radius: 5px;
  padding: 5px;
}

.highlight-key-btn {
  background-color: yellow;
}

.Backspace {
  width: 8rem;
}

.Tab {
  width: 6rem;
}

.CapsLock {
  width: 6rem;
}

.Enter {
  font-size: 1rem;
  width: 8rem;
}

.Shift {
  font-size: 1rem;
  width: 8rem;
}

.Ctrl {
  width: 6rem;
}

.Space {
  width: 22rem;
}

@media screen and (max-width: 720px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h1,
  #start-screen {
    display: none;
  }

  .no-display {
    padding: 2rem;
    width: 90dvw;
    /* height: 50dvh; */
    margin: 4rem auto;
    font-size: 1rem;
    font-weight: bold;
    color: yellow;
    background-color: rgba(128, 128, 128, 0.459);
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
