* {
  box-sizing: border-box;
}

:root {
  --code-img: url(https://res.cloudinary.com/do0pop1de/image/upload/v1718113378/src%20for%20portfolio%20website/intro-bg.jpg);
  --primary-color: rgb(255, 174, 0);
  --sec-color: rgb(239, 235, 133);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#home,
#my-skills {
  height: 100dvh;
  background-color: rgb(0, 0, 0);
  padding: 1px;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: end;
  line-height: 1.5rem;
  margin: 1rem 5rem 1rem 0;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.navbar a::before {
  content: "< ";
  color: var(--sec-color);
  opacity: 0;
  transition: all 0.5s;
}

.navbar a::after {
  content: "/>";
  color: var(--sec-color);
  opacity: 0;
  transition: all 0.5s;
}

.navbar a:hover::after {
  opacity: 0.5;
}

.navbar a:hover::before {
  opacity: 0.5;
}

.intro {
  height: calc(100% - 3.5rem);
  background: linear-gradient(to right, black 20%, rgba(6, 9, 12, 0.2)),
    var(--code-img) center top;
  background-size: cover;
  color: var(--sec-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
}

.intro-container {
  width: 50%;
  text-align: center;
}

.intro h2,
.intro h1 {
  margin: 1rem;
  font-weight: normal;
}

.first-name {
  color: var(--primary-color);
  font-weight: bold;
}

.my-name {
  font-size: 4rem;
}

.role {
  color: var(--primary-color);
  font-style: italic;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  text-decoration: none;
}

.icon {
  color: var(--primary-color);
  font-size: 3rem !important;
}

.icon:hover {
  color: var(--sec-color);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}

#my-projects {
  min-height: 100dvh;
  background-color: rgb(31, 31, 73);
  padding: 20px;
}

#my-projects h1 {
  margin: 0 0 10px 0;
  text-align: center;
  color: var(--primary-color);
}

#my-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: start;
  align-items: start;
}

.card {
  box-sizing: content-box;
  color: var(--primary-color);
  width: 250px;
  height: 280px;
  background-color: transparent;
  border-radius: 20px;
  margin: 0;
  padding: 0;
  border: 3px solid var(--primary-color);
}

.card:hover {
  box-shadow: 0px 0px 15px 0px var(--sec-color);
}

.card a {
  text-decoration: none;
  color: inherit;
}

.card a:hover {
  text-decoration: none;
  color: inherit;
}

.card a:visited {
  text-decoration: none;
  color: inherit;
}

.card a:active {
  text-decoration: none;
  color: inherit;
}

.card img {
  text-align: center;
  display: block;
  width: 230px;
  height: 125px;
  margin: 10px auto;
  border-radius: 10px;
}

.card h2 {
  margin: 5px 0 5px 10px;
}

.card p {
  margin: 5px 10px 5px 10px;
  text-align: justify;
  color: var(--sec-color);
}

@media screen and (max-width: 720px) {
  .navbar ul {
    margin: 1rem 0;
  }

  .navbar a {
    font-size: 1rem;
  }

  .intro-container {
    width: 100%;
  }

  .my-name {
    font-size: 3rem;
  }

  #back-to-top {
    bottom: 1.5rem;
    right: 2rem;
  }

  .material-symbols-outlined {
    font-size: 2rem !important;
  }

  #my-projects {
    padding: 10px;
  }
}
