* {
  box-sizing: border-box;
}

:root {
  --code-img: url(https://res.cloudinary.com/do0pop1de/image/upload/v1718113378/src%20for%20portfolio%20website/intro-bg.jpg);
  --primary-color: rgb(255, 174, 0);
  --sec-color: rgb(239, 235, 133);
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#home {
  height: 100dvh;
  background-color: rgb(0, 0, 0);
  padding: 1px;
}

.navbar ul {
  display: flex;
  list-style: none;
  padding: 0px;
  justify-content: end;
  line-height: 1.5rem;
  margin: 1rem 5rem 1rem 0;
}

.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.navbar li:hover {
  transform: scale(1.05);
}

.navbar a::before {
  content: "< ";
  color: var(--sec-color);
  opacity: 0;
  transition: all 0.5s;
}

.navbar a::after {
  content: "/>";
  color: var(--sec-color);
  opacity: 0;
  transition: all 0.5s;
}

.navbar a:hover::after {
  opacity: 0.5;
}

.navbar a:hover::before {
  opacity: 0.5;
}

.intro {
  height: calc(100% - 3.5rem);
  background: linear-gradient(to right, black 20%, rgba(6, 9, 12, 0.2)),
    var(--code-img) center top;
  background-size: cover;
  color: var(--sec-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  align-items: center;
}

.intro-container {
  width: 50%;
  text-align: center;
}

.intro h2,
.intro h1 {
  margin: 1rem;
  font-weight: normal;
}

.first-name {
  color: var(--primary-color);
  font-weight: bold;
}

.my-name {
  font-size: 4rem;
}

.role {
  color: var(--primary-color);
  font-style: italic;
}

#back-to-top {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 4rem;
  text-decoration: none;
}

.icon {
  color: var(--primary-color);
  font-size: 3rem !important;
}

.icon:hover {
  color: var(--sec-color);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 24;
}

#my-projects {
  min-height: 100dvh;
  background-color: rgb(31, 75, 107);
  padding: 10px;
}

.heading {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  color: var(--primary-color);
}

#my-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
  align-items: start;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--primary-color);
  width: 250px;
  height: 280px;
  background-color: transparent;
  border-radius: 20px;
  margin: 0;
  padding: 10px;
  border: 3px solid var(--primary-color);
}

.card img {
  text-align: center;
  display: block;
  width: 100%;
  height: 125px;
  margin: 0px auto;
  border-radius: 10px;
}

.card h2 {
  margin: 0;
}

.card p {
  margin: 0;
  color: var(--sec-color);
}

.link-container {
  display: flex;
  justify-content: space-around;
}

.card a {
  text-decoration: none;
  color: inherit;
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
}

.card a:hover {
  bottom: 3px;
}

#my-skills {
  min-height: 100dvh;
  padding: 20px;
  background-color: rgb(31, 31, 73);
}

#my-skills-container {
  width: 50dvw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 10px;
  margin: 30px auto;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--primary-color);
}

#my-skills-container .bg {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.764);
}

#my-skills-container img,
#contact-div img {
  width: 50px;
  height: 50px;
}

#contact-div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 40dvh;
  background-color: rgb(198, 246, 246);
  padding: 20px;
}

#social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 50%;
}

.link {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.link:hover {
  transform: scale(1.1);
}

#about {
  width: 70dvw;
  min-height: 60dvh;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}

.my-photo {
  /* width: 300px; */
  height: 40dvh;
  border-radius: 50%;
  border: 0.5rem solid var(--primary-color);
}

.my-intro {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

footer {
  text-align: center;
  padding: 10px;
  color: white;
  background-color: black;
}

@media screen and (max-width: 720px) {
  .navbar ul {
    margin: 1rem 0;
  }

  .navbar a {
    font-size: 1rem;
  }

  .intro-container {
    width: 100%;
  }

  .my-name {
    font-size: 3rem;
  }

  #back-to-top {
    bottom: 1.5rem;
    right: 2rem;
  }

  .material-symbols-outlined {
    font-size: 2rem !important;
  }

  #my-projects {
    padding: 10px;
  }

  #my-skills-container {
    width: 80dvw;
  }

  #about {
    flex-wrap: wrap;
    gap: 0;
    width: 80%;
  }

  .my-intro {
    font-size: 1rem;
    line-height: normal;
    text-align: center;
  }
}
