* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: rgb(141, 82, 242);
}

.btn {
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 2rem;
  margin-left: auto;
  background-color: yellow;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: all 0.2s;
}

.btn:hover {
  background-color: white;
  color: black;
}

body {
  font-family: cursive;
  font-size: 1rem;
}

header {
  background-color: var(--bg-color);
  background-image: linear-gradient(
    90deg,
    var(--bg-color),
    #3e9ebb,
    var(--bg-color)
  );
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
}

.icon:hover {
  transform: scale(1.1);
}

main {
  position: relative;
  padding: 1px;
}

.side-menu {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
  width: 300px;
  height: 100dvh;
  background-color: rgb(16, 12, 68);
  padding-top: 2rem;
}

.hidden {
  display: none;
}

li {
  list-style-type: none;
  padding: 0.5rem 2rem;
  cursor: pointer;
  color: white;
  font-size: 1.1rem;
}

li:hover {
  background-color: rgb(13, 10, 57);
}

.books {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

.book-container {
  background-color: var(--bg-color);
  background-image: linear-gradient(90deg, var(--bg-color) 50%, #3e9ebb);
  border-radius: 0.2rem;
  width: 49%;
  height: 330px;
  display: flex;
  gap: 10px;
  padding: 10px;
  position: relative;
}

.cover-img {
  width: 40%;
  margin: 10px;
  box-shadow: 0 0 10px 10px rgba(187, 186, 186, 0.697);
}

.title {
  color: white;
}

.author {
  color: yellow;
}

.description {
  line-height: 1.3rem;
}

.info * {
  margin: 5px;
}

.borrow-btn {
  margin: 1rem auto 0 auto;
  position: absolute;
  bottom: 10px;
  left: 60%;
}

.new-book-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100dvw;
  height: 90dvh;
  background-color: rgba(255, 255, 255, 0.689);
  justify-content: center;
  align-items: center;
}

.new-book-bg {
  width: 60%;
  min-height: 60%;
  background-image: linear-gradient(
    90deg,
    var(--bg-color),
    #3e9ebb,
    var(--bg-color)
  );
  padding: 1rem;
  border-radius: 5px;
}

.new-book-bg h3 {
  color: white;
  padding: 8px;
}

.new-book-bg input,
.new-book-bg textarea {
  font-size: 1rem;
  outline: none;
  border: none;
  padding: 8px;
  margin: 8px;
}

.btn-container {
  width: fit-content;
  margin-left: auto;
}

.cancel-new-book-btn {
  background-color: red;
  color: white;
}

footer {
  margin-top: 5px;
  text-align: center;
  font-weight: normal;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: none;
}

@media screen and (max-width: 720px) {
  .book-container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
  }
}
