* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(27, 47, 65);
  --sec-color: rgba(196, 186, 186, 0.758);
}

body {
  background-color: var(--primary-color);
  color: var(--primary-color);
  height: 100dvh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bold {
  font-weight: bold;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fs-2rem {
  font-size: 2rem;
}

.container {
  padding: 10px;
  min-width: 70%;
  min-height: 50%;
  text-align: center;
  background-color: var(--sec-color);
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 5px;
}

h1 {
  font-size: 2.5rem;
}

#number {
  outline: none;
  border: none;
  border-bottom: 3px solid var(--primary-color);
  background-color: transparent;
  width: 250px;
  text-align: center;
  margin: 10px;
  color: var(--primary-color);
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#convert-btn {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: var(--primary-color);
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1rem;
}

#convert-btn:hover {
  background-color: rgb(46, 30, 30);
}

#output {
  padding: 10px;
  min-width: 300px;
  height: 70px;
  border: 4px solid var(--primary-color);
}

@media screen and (max-width: 720px) {
  .container {
    width: 90%;
  }

  .fs-2rem {
    font-size: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  #number {
    width: 150px;
  }

  #output {
    padding: 20px;
    min-width: 150px;
    height: 40px;
  }

  #convert-btn {
    padding: 5px 10px;
  }
}
