* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  width: 60dvw;
  margin: 0 auto;
}

.container h1,
.container h2,
.container p {
  margin: 10px 0;
  text-align: center;
}

.container p {
  font-size: 1.5rem;
}

#timer-days,
#timer-hours {
  font-size: 3rem;
  margin: 10px;
}
